<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <clear/>
    <add name="Connection" connectionString="Server=A2NWPLSK14SQL-v03.shr.prod.iad2.secureserver.net; Database=scarletholidays; User ID=scarletholidays; Password=otKg4_889; Persist Security Info=True"/>
  </connectionStrings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.8.1" />
      </system.Web>
  -->
  <system.web>
    <httpRuntime requestValidationMode="2.0"/>
    <compilation debug="true" targetFramework="4.8.1">
      <assemblies>
        <!-- etc... -->
        <add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
        <!-- etc... -->
      </assemblies>
    </compilation>
    <customErrors mode="Off"/>
    <!--For CK Editor-->
    <pages controlRenderingCompatibilityVersion="3.5" validateRequest="false" clientIDMode="AutoID">
      <controls>
        <add tagPrefix="CKEditor" assembly="CKEditor.NET" namespace="CKEditor.NET"/>
      </controls>
    </pages>
    <!--End Ck Editor Code-->
    <authentication mode="Forms">
      <forms name="abc" loginUrl="AdminLogin.aspx"/>
    </authentication>
    <trust level="Full" originUrl=""/>
  </system.web>
  <system.webServer>
    <defaultDocument>
      <files>
        <add value="/"/>
      </files>
    </defaultDocument>
    <directoryBrowse enabled="false"/>
  </system.webServer>
  <!-- Folder Access Permission -->
  <location path="Admin">
    <system.web>
      <authorization>
        <allow roles="admin"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
</configuration>